.profile__edit-button {
    bottom: 0;
    width: 18px;
    height: 18px;
    background-color: black;
    outline: 1px solid #FFFFFF;
    border: none;
    display: flex;
    align-items: center;
    cursor:pointer;
    transition: 0.5s opacity;
    background-image: url(../../../image/pen.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px 10px;
}

.profile__edit-button:hover {
    opacity: 0.6;
}