.tape__button {
    border: none;
    cursor: pointer;
    background-image: url(../../../image/Vector.svg);
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.4s opacity;
    background-color: transparent;
    margin-top: 5px;
    width: 22px;
    height: 19px;
}

.tape__button:hover {
    opacity: 0.5;
}

.tape__button_active {
    opacity: 1;
    background-image: url(../../../image/like__black.svg);
}
