.footer__info {
    max-width: 282px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(84, 84, 84, 1);
    margin-top: 0;
    margin-bottom: 0;
}

@media screen and (min-width:1025px) {
    .footer__info{
        font-size: 18px;
        line-height: 22px;
    }
}