.profile__info {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    padding-bottom: 14px;
    box-sizing: border-box;
    padding-left: 28px;
}

@media screen and (min-width:1025px) {
    
.profile__info{
    padding: 3px 3px 4px 1px ;
    justify-content: space-between;
    gap: 18px;
}
}