.tape__int {
    display: flex;
    justify-content: space-between;
    padding-left: 21px;
    padding-right: 15px;
    padding: 25px 15px 25px 21px;
    max-width: 282px;
    margin: 0;
    background-color: white;
    border-radius: 0 0 10px 10px;
}