.tape__like {
    width: 22px;
    height: 19px;
    transition: 0.4s opacity;
}

.tape__like:hover {
    opacity: 0.5;
}

.tape__like:active {
    opacity: 1;
    background-image: url("../../../image/like__black.svg");
}